.header{
  padding: 0 20px;
}
.block {
  display: block
}

/* List Page */
.quote-li{
  margin-bottom: 5px;
}

.list-quote-content{
  color: #444;
}
.list-quote-from{
  font-style:italic;
}

/* Create Page */
.quote-form{
  margin-top: 25px;
}
.quote-form > h5 {
  margin-bottom: 30px;
  color: #555;
}

/* Detail Page */
.processing{
}
.voice-select{
  display: block;
}
.voice-p{
  word-break: keep-all;
}